.banner {
  &--section {
    margin: 0;
    padding: em(180px) 0;
    width: 100%;
    position: relative;
    display: block;
    background-image: url('../images/banner-bg.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 700px;
    background-color: var(--dark-color);
    @media screen and (min-width: 1200px) and (max-width: 1400px) {
      height: 800px;
    }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      height: auto;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      height: auto;
    }
    @media screen and (max-width: 600px) {
      height: auto;
      padding-bottom: 70px;
    }
  }

  &--text {
    h4 {
      font-size: em(25px);
      font-family: var(--font-slack);
      font-weight: 500;
      font-style: italic;
      color: var(--yellow-color);
      position: relative;
      display: block;
      @media screen and (max-width: 414px) {
        font-size: 20px;
      }
    }
    h2 {
      font-size: em(40px);
      font-family: var(--font-slack);
      font-weight: 700;
      text-align: left;
      position: relative;
      color: var(--white-color);
      margin-bottom: 30px;
      @media screen and (min-width: 1401px) and (max-width: 1599px) {
        font-size: 35px;
      }
      @media screen and (min-width: 1200px) and (max-width: 1400px) {
        font-size: 35px;
      }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 32px;
      }
      @media screen and (max-width: 414px) {
        font-size: 25px;
      }
    }

    .col-inline {
      @include flexbox();
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row;
      position: relative;
      @media screen and (max-width: 600px) {
        flex-direction: column;
      }
      .col--inner {
        flex: 0 0 50%;
        @include flexbox();
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        position: relative;
        @media screen and (max-width: 450px) {
          justify-content: center;
          flex-direction: column;
          flex: 0 0 100%;
          width: 100%;
        }
        .cols {
          margin-right: 15px;
          // width: 150px;
          @media screen and (max-width: 600px) {
            width: 130px;
            text-align: center;
          }
          @media screen and (max-width: 450px) {
            width: 100%;
            text-align: center;
            margin-right: 0;
          }
        }
        .col-text {
          @media screen and (max-width: 450px) {
            width: 100%;
            text-align: center;
          }
          h4 {
            font-size: 16px;
            font-family: var(--font-slack);
            text-align: left;
            position: relative;
            color: var(--white-color);
            font-style: normal;
            text-transform: uppercase;
            font-weight: 600;
            @media screen and (min-width: 768px) and (max-width: 1023px) {
              font-size: 14px;
            }
            @media screen and (max-width: 450px) {
              width: 100%;
              text-align: center;
            }
          }
          p {
            font-size: 14px;
            font-family: var(--font-slack);
            font-weight: 300;
            color: var(--white-color);
            text-align: left;
            position: relative;
            display: block;
            @media screen and (min-width: 768px) and (max-width: 1023px) {
              font-size: 13px;
            }
            @media screen and (max-width: 450px) {
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
